<mat-toolbar style="width: 110%;background-color:transparent ;">
  <ion-searchbar style="margin-left: -35px;"></ion-searchbar>
  <ion-label (click)="onShare()" color="primary">
    <ion-icon style="width: 30px;height: 35px;" name="share-alt"></ion-icon>
  </ion-label>
</mat-toolbar>
<mat-dialog-content>
  <ion-list>
    <ion-item *ngFor="let item of accountService.users" (click)="onChoose(item.id)">{{item.name}}
      <ion-label color="primary" class="custom-checker" [hidden]="isHidden" end>
        <ion-icon name="checkmark"></ion-icon>
      </ion-label>
    </ion-item>
  </ion-list>
</mat-dialog-content>
