<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row style="height: 5%;">
  </ion-row>
  <form style="text-align: center;">
    <ion-label style="font-size: 30px;" color="success">Translate</ion-label>
    <ion-item>
      <ion-label color="success" style="font-weight: bold;">English</ion-label>
      <ion-textarea (ionChange)="translate()" name="english" [(ngModel)]="dictionary.english">

      </ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label color="success" style="font-weight: bold;">Vietnamese</ion-label>
      <ion-textarea name="vietnamese" [(ngModel)]="dictionary.vietnamese">

      </ion-textarea>
    </ion-item>
  </form>
</ion-content>
