<ion-header>
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row style="height: 10%;">
  </ion-row>
  <form style="text-align: center;">
    <ion-label style="font-size: 30px;" color="success">-Login-</ion-label>
    <br>
    <ion-label color="danger">{{error}}</ion-label>
    <br>
    <ion-item>
      <ion-label color="success">Username</ion-label>
      <ion-input name="username" [(ngModel)]="userLogin.UserName" placeholder="Enter Username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="success">Password</ion-label>
      <ion-input name="password" [(ngModel)]="userLogin.Password" type="password" placeholder="Enter Password">
      </ion-input>
    </ion-item>
    <br>
    <ion-button (click)="login()" color="success" expand="block">Login</ion-button>
    <br>
    <button ion-button class="custom-style-button-login">Forgot Password</button>
    <br>
    <br>
    <button ion-button class="custom-style-button-login">Login With Outlook Mail</button>
    <br>
    <br>
    <button routerLink="/register" ion-button class="custom-style-button-login">Register</button>
  </form>
</ion-content>
