<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row style="height: 10%;">
  </ion-row>
  <form style="text-align: center;">
    <ion-label style="font-size: 30px;" color="primary">|----Login----|</ion-label>
    <br>
    <ion-item>
      <ion-label>Username</ion-label>
      <ion-input placeholder="Enter Username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password" placeholder="Enter Password"></ion-input>
    </ion-item>
    <br>
    <ion-button color="primary" expand="block">Login</ion-button>
    <br>
    <button ion-button class="custom-style-button-login">Forgot Password</button>
    <br>
    <br>
    <button ion-button class="custom-style-button-login">Login With Outlook Mail</button>
    <br>
    <br>
    <button ion-button class="custom-style-button-login">Register</button>
  </form>
</ion-content>
