<ion-header>
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="custom-grid-height">
    <ion-row>
      <ion-col>
        <ion-row class="custom-row-margin-left">
          <ion-radio-group>
            <h5 class="center-line-button">
              <ion-radio (click)="onClickRB(false)" checked color="warning"></ion-radio> Doing
            </h5>
            <h5 class="center-line-button">
              <ion-radio (click)="onClickRB(true)" color="success"></ion-radio> Done
            </h5>
          </ion-radio-group>
        </ion-row>
      </ion-col>
      <ion-col class="custom-button-max-right">
        <ion-button (click)="showDialogAdd()" color="primary">
          <ion-icon slot="start" name="add"></ion-icon>
          Add Todo
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <h2 *ngIf="CheckTodo()">You have not Todo, please Add Todo</h2>
    <ion-item-sliding *ngFor="let todo of todoList">
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col class="content-of-col">
              <h3>
                <ion-icon *ngIf="!todo.status" color="warning" name="radio-button-on"></ion-icon>
                <ion-icon *ngIf="todo.status" color="success" name="radio-button-on"></ion-icon>
              </h3>
            </ion-col>
            <ion-col class="custom-width-content">
              <ion-label>
                <div class="ion-text-start white-space">
                  <h2 class="text-todo-name">{{todo.todoName}}</h2>
                  <h3>{{todo.description}}</h3>
                </div>
              </ion-label>
            </ion-col>
            <ion-col>
              <ion-row>
                <ion-label>
                  <div class="ion-text-end">
                    <h3>{{todo.modifyDate | date: 'dd/MM/yyyy hh:mm a'}}</h3>
                  </div>
                </ion-label>
              </ion-row>
              <ion-row>
                <img *ngFor="let image of todo.imageViewModels" (click)='openNewTab("/assets/icon/favicon.png")'
                     style="width: 30px; height: 30px;"
                     [src]="'data:image/jpg;base64,' + image.Base64Image">
                <ion-button (click)="openMenuUpload(todo.id)" shape="round">
                  <ion-icon name="add" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item-options *ngIf="!todo.status" side="start">
        <ion-item-option color="success">
          <ion-button color="success" (click)="doneTodo(todo.id)">Done</ion-button>
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option color="danger">
          <ion-button color="danger" (click)="deleteTodo(todo.id)">Delele</ion-button>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
