.custom-button-max-right {
    text-align-last: end;
    margin-right: 10px;
}
.custom-grid-height {
    height: 10%;
}

.content-of-col {
    display: contents;
}

.custom-row-margin-left {
    margin-left: 10px;
    margin-top: 10px;
}

.custom-width-content {
    width: 30%;
}

.white-space {
    white-space: normal;
}

.radio-button-bottom {
    margin-top: -5px;
}
.center-line-button{
    display: unset;
}
.custom-style-button-todo-page{
    background-color: transparent;
    color: white;
    font-size: 18px;
}
